<header>
  <div>
    <%= link_to "Book Store", root_path %>
    <% if current_user %>
      <%= current_user.name %>
      <% if current_user.class.name == "Seller"%>
        <%= link_to 'New Book', new_book_path %>
      <% end %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% end %>
  </div>
</header>